<div class="wrapper-banner">
  <div class="banner -dark-mode">
    <div class="banner_title">
      <div class="title_logo">
        <div class="logo_gota"></div>
        <div class="logo_name"><h1>flooop</h1></div>
      </div>
      <div class="title_title">
        <h2 class="title_banner">Histórico Empresarial</h2>
      </div>
    </div>
    <div class="banner_description">
      <p>O aplicativo Histórico Empresarial permite ao usuário ter acesso a todos os fatos e acontecimentos relevantes de uma empresa desde o seu ano de fundação</p>
    </div>
    <div class="banner_price">
      <div class="price_price">
        <span>R$</span>
        <span>40,00</span>
      </div>
      <div class="price_button">
        <button class="button-default">Saiba Mais</button>
      </div>
    </div>
  </div>
</div>

<section class="fontes">
  <div class="list_fontes">
    <div *ngFor="let fonte of apiFonte" [attr.data-eventtype]="fonte.type" class="fonte" id="testes" (click)="selectOption($event);">
      <i class="{{fonte.icon}}"></i>
      <span>{{fonte.title}}</span>
    </div>
  </div>
  <div class="select">
    <span>Ordenar</span>
    <select name="select-aplicativos">
      <option value="todos">Todos</option>
      <option value="lancamento">Lançamento</option>
      <option value="preco">Menor Preço</option>
    </select>
  </div>
  <div class="wrapper-cards">
    <div *ngFor="let fonte of apiFonte; let i = index;" class="card" [attr.data-eventtype]="fonte.type">
    <div class="card_icon">
      <i class="{{fonte.icon}}"></i>
    </div>
    <div class="card_title">
      <h3>{{fonte.title}}</h3>
    </div>
    <div class="card_description">
      <p>{{fonte.description}}</p>
    </div>
    <div class="card_more">
      <div class="more_price">R$ {{fonte.price}}</div>
      <div class="more_button">
        <button class="button-default -no-bg" (click)="openSaibaMais(i)">Saiba Mais</button>
      </div>
    </div>
  </div>
</div>
</section>